body {
  background-color: #7cc6fe;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.app {
  background-color: #252d4a;
  width: 450px;
  min-height: 200px;
  border-radius: 15px;
  padding: 20px;
  box-shadow: 10px 10px 42px 0px rgba(0, 0, 0, 0.75);
  display: flex;
  justify-content: space-evenly;
}

.question-section {
  width: 100%;
}

.question-count {
  margin-bottom: 20px;
  color: white;
}

.question-count span {
  font-size: 28px;
}

.question-text {
  margin-bottom: 12px;
  font-size: 20px;
}

.answer-section {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

button {
  width: 100%;
  font-size: 16px;
  color: #ffffff;
  background-color: #252d4a;
  border-radius: 15px;
  padding: 5px;
  border: 5px solid #234668;
  cursor: pointer;
  outline: none;
  margin-bottom: 15px;
}

button:hover {
  background-color: #555e7d;
}

.score-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.score-section {
  display: flex;
  font-size: 24px;
  align-items: center;
  color: white;
}

.score-container button {
  background-color: rgb(0, 166, 255);
  border: none;
  border-radius: 8px;
  margin-top: 12px;
}
